#lottery {
	width: 570px;
	height: 510px;
	margin: 0px auto;
	border: 4px solid #ba1809;
}

#lottery table {
	background-color: yellow;
}

#lottery table td {
	position: relative;
	width: 190px;
	height: 170px;
	text-align: center;
	color: #333;
}

#lottery table td img {
	display: block;
	width: 190px;
	height: 170px;
}

#lottery table td.active .mask {
	display: block;
}

.result {
	display: none;
	position: absolute;
	left: 280px;
	top: 350px;
	width: 395px;
	height: 118px;
	background-color: rgba(0, 0, 0, 0.75);
	filter: alpha(opacity = 90)
}

.result a {
	position: absolute;
	right: 5px;
	top: 5px;
	width: 25px;
	height: 25px;
	text-indent: -100px;
/* 	background-image: url(img/close.png); */
	overflow: hidden;
}

.result p {
	padding: 45px 15px 0;
	font: 16px "Microsoft Yahei";
	color: #fff;
	text-align: center;
}

.result em {
	color: #ffea76;
	font-style: normal;
}

.absolute {
	position: absolute;
	top: 300px;
	left: 50px;
	width: 200px;
	height: 200px;
}

.mask {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(252, 311, 4, 0.5);
	display: none
}

.ros {
	top: 190px;
	width: 295px;
}

#startok {
	cursor: pointer
} /*滑鼠屬標的圖案*/