        .root{width:500px; 
             height:400px;
              position:relative;
               top: -40px;
               margin:50px auto

       } 
   
         #start{width:16px;
                 height:320px;
                  position:absolute;
                  top:104px; 
                  left:101px;

         } 
          #start img{cursor:pointer}  /*滑鼠屬標的圖案*/

