<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
		<property name="hibernate.connection.password">sa123456</property>
		<property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;DatabaseName=bakeryDB;</property>
		<property name="hibernate.connection.username">sa</property>
<!-- 		<property name="hibernate.connection.datasource">java:comp/env/jdbc/cake</property> -->
		<property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.default_schema"></property>
		<property name="show_sql">true</property>

		<mapping class="com.member.model.MemberBean" />
		<mapping class="com.membergrade.model.MemberGradeBean" />
		<mapping class="com.article.model.ArticleBean" />
		<mapping class="com.rearticle.model.ReArticleBean" />
		<mapping class="com.article.model.ArticleClassBean" />

		<!-- 投票活動 -->
		<mapping class="com.Voteaction.model.VoteActionBean"/>
<!-- 		<mapping class="com.Voteaction.model.VoteStatusBean"/> -->
		<mapping class="com.Voteitem.model.VoteitemBean"/>
<!-- 		<mapping class="com.Voteitem.model.VotePersonBean"/> -->
	
	</session-factory>
</hibernate-configuration>
