body {
    padding: 100px 0 0 0;
    background-color: #faf1e0;
}

.navbar {
	min-width: 1000px !important;
    background-color: #a01525;
    margin-bottom: 0px;
}

    .navbar a {
        color: #faf1e0;
    }

#navbar2 div {
    border-right: 1px solid #bbb;
}

    #navbar2 div:last-child {
        border-right: none;
    }

    #navbar2 div a {
        display: block;
        color: #F2E5D4;
        text-align: center;
        padding: 10px 5px;
        text-decoration: none;
    }

        #navbar2 div a:hover:not(.active) {
            background-color: #CC2525;
        }

        #navbar2 div a.active {
            background-color: #4CAF50;
        }

/*navbar-brand*/
.navbar-brand {
    color: #faf1e0;
    height: 50px;
    font-size: 1.87em;
}

    .navbar, .navbar-brand:hover,
    .navbar, .navbar-brand:focus {
        color: #F2E5D4;
        background-color: transparent;
    }
/*navbar-brand*/

/*navbar-nav*/

.navbar-nav > li > a {
    text-align: center;
    padding: 12px 15px 0px 15px;
    font-size: 0.8em;
}


.navbar, .navbar-nav > li > a {
    color: #faf1e0;
}

    .navbar, .navbar-nav > li > a:hover,
    .navbar, .navbar-nav > li > a:focus {
        color: #F2E5D4;
        background-color: transparent;
    }

.navbar, .navbar-nav > .active > a,
.navbar, .navbar-nav > .active > a:hover,
.navbar, .navbar-nav > .active > a:focus {
    color: #F2E5D4;
    background-color: #faf1e0;
}

.navbar, .navbar-nav > .disabled > a,
.navbar, .navbar-nav > .disabled > a:hover,
.navbar, .navbar-nav > .disabled > a:focus {
    color: #faf1e0;
    background-color: transparent;
}

.navbar, .navbar-nav > .open > a,
.navbar, .navbar-nav > .open > a:hover,
.navbar, .navbar-nav > .open > a:focus {
    color: #F2E5D4;
    background-color: #B22222;
}
/*navbar-nav*/

/* .nav li:hover:nth-child(9n+1), .nav li.active:nth-child(9n+1) { */
/*     border-bottom: #C4E17F 3px solid; */
/* } */

/* .nav li:hover:nth-child(9n+2), .nav li.active:nth-child(9n+2) { */
/*     border-bottom: #F7FDCA 3px solid; */
/* } */

/* .nav li:hover:nth-child(9n+3), .nav li.active:nth-child(9n+3) { */
/*     border-bottom: #FECF71 3px solid; */
/* } */

/* .nav li:hover:nth-child(9n+4), .nav li.active:nth-child(9n+4) { */
/*     border-bottom: #F0776C 3px solid; */
/* } */

/* .nav li:hover:nth-child(9n+5), .nav li.active:nth-child(9n+5) { */
/*     border-bottom: #DB9DBE 3px solid; */
/* } */

/* .nav li:hover:nth-child(9n+6), .nav li.active:nth-child(9n+6) { */
/*     border-bottom: #C49CDE 3px solid; */
/* } */

/* .nav li:hover:nth-child(9n+7), .nav li.active:nth-child(9n+7) { */
/*     border-bottom: #669AE1 3px solid; */
/* } */

/* .nav li:hover:nth-child(9n+8), .nav li.active:nth-child(9n+8) { */
/*     border-bottom: #62C2E4 3px solid; */
/* } */

/* .nav li:hover:nth-child(9n+9), .nav li.active:nth-child(9n+9) { */
/*     border-bottom: #B22222 3px solid; */
/* } */
